# DataFrames: Reading in messy data
     
In the [01-data-access](./01-data-access.ipynb) example we show how Dask Dataframes can read and store data in many of the same formats as Pandas dataframes.  One key difference, when using Dask Dataframes is that instead of opening a single file with a function like [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html), we typically open many files at once with [dask.dataframe.read_csv](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.read_csv). This enables us to treat a collection of files as a single dataset. Most of the time this works really well. But real data is messy and in this notebook we will explore a more advanced technique to bring messy datasets into a dask dataframe.

## Start Dask Client for Dashboard

Starting the Dask Client is optional.  It will provide a dashboard which 
is useful to gain insight on the computation.  

The link to the dashboard will become visible when you create the client below.  We recommend having it open on one side of your screen while using your notebook on the other side.  This can take some effort to arrange your windows, but seeing them both at the same is very useful when learning.

In [1]:
from dask.distributed import Client
client = Client(n_workers=1, threads_per_worker=4, processes=False, memory_limit='2GB')
client

## Create artificial dataset

First we create an artificial dataset and write it to many CSV files.

You don't need to understand this section, we're just creating a dataset for the rest of the notebook.

In [2]:
import dask
df = dask.datasets.timeseries()
df

Dask DataFrame Structure:
                   id    name        x        y
npartitions=30
2000-01-01      int64  object  float64  float64
2000-01-02        ...     ...      ...      ...
...               ...     ...      ...      ...
2000-01-30        ...     ...      ...      ...
2000-01-31        ...     ...      ...      ...
Dask Name: make-timeseries, 30 tasks

In [3]:
import os
import datetime

if not os.path.exists('data'):
    os.mkdir('data')

def name(i):
    """ Provide date for filename given index
    
    Examples
    --------
    >>> name(0)
    '2000-01-01'
    >>> name(10)
    '2000-01-11'
    """
    return str(datetime.date(2000, 1, 1) + i * datetime.timedelta(days=1))
    
df.to_csv('data/*.csv', name_function=name, index=False);

['/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-01.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-02.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-03.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-04.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-05.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-06.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-07.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-08.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-09.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-10.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-11.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-12.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-13.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-14.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-15.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-16.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-17.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-18.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-19.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-20.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-21.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-22.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-23.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-24.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-25.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-26.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-27.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-28.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-29.csv',
 '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-30.csv']

## Read CSV files

We now have many CSV files in our data directory, one for each day in the month of January 2000.  Each CSV file holds timeseries data for that day.  We can read all of them as one logical dataframe using the `dd.read_csv` function with a glob string.

In [4]:
!ls data/*.csv | head

data/2000-01-01.csv
data/2000-01-02.csv
data/2000-01-03.csv
data/2000-01-04.csv
data/2000-01-05.csv
data/2000-01-06.csv
data/2000-01-07.csv
data/2000-01-08.csv
data/2000-01-09.csv
data/2000-01-10.csv

In [5]:
import dask.dataframe as dd

df = dd.read_csv('data/2000-*-*.csv')
df

Dask DataFrame Structure:
                   id    name        x        y
npartitions=30
                int64  object  float64  float64
                  ...     ...      ...      ...
...               ...     ...      ...      ...
                  ...     ...      ...      ...
                  ...     ...      ...      ...
Dask Name: read-csv, 30 tasks

In [6]:
df.head()

     id    name         x         y
0  1000   Wendy -0.455991 -0.267803
1   970  Ingrid -0.797437  0.454575
2  1008   Edith  0.430180 -0.506511
3   960   Wendy  0.803023  0.822974
4  1006  Yvonne  0.556653 -0.786353

Let's look at some statistics on the data

In [7]:
df.describe().compute()

                 id             x             y
count  2.592000e+06  2.592000e+06  2.592000e+06
mean   9.999781e+02  7.448238e-04  2.257596e-04
std    3.162814e+01  5.773940e-01  5.773022e-01
min    8.360000e+02 -9.999991e-01 -9.999996e-01
25%    9.790000e+02 -4.950141e-01 -4.961357e-01
50%    1.000000e+03  7.317552e-03  5.409636e-03
75%    1.021000e+03  5.055906e-01  5.079348e-01
max    1.171000e+03  9.999976e-01  9.999998e-01

# Make some messy data

Now this works great, and in most cases dd.read_csv or dd.read_parquet etc are the preferred way to read in large collections of data files into a dask dataframe, but real world data is often very messy and some files may be broken or badly formatted. To simulate this we are going to create some fake messy data by tweaking our example csv files. For the file `data/2000-01-05.csv` we will replace with no data and for the file `data/2000-01-07.csv` we will remove the `y` column

In [8]:
# corrupt the data in data/2000-01-05.csv
with open('data/2000-01-05.csv', 'w') as f:
    f.write('')

In [9]:
# remove y column from data/2000-01-07.csv
import pandas as pd
df = pd.read_csv('data/2000-01-07.csv')
del df['y']
df.to_csv('data/2000-01-07.csv', index=False)

In [10]:
!head data/2000-01-05.csv

In [11]:
!head data/2000-01-07.csv

id,name,x
1002,Edith,0.465230264550529
1029,Laura,-0.5648984570475317
1018,Victor,0.6513669592936779
1001,Hannah,0.33285157300349066
951,Edith,-0.3978644888721288
1011,Tim,-0.5280527791073384
1037,Victor,0.4321327545778726
999,George,-0.6921885229372122
1009,Michael,-0.6853040540484736

# Reading the messy data

Let's try reading in the collection of files again

In [12]:
df = dd.read_csv('data/2000-*-*.csv')

In [13]:
df.head()

     id    name         x         y
0  1000   Wendy -0.455991 -0.267803
1   970  Ingrid -0.797437  0.454575
2  1008   Edith  0.430180 -0.506511
3   960   Wendy  0.803023  0.822974
4  1006  Yvonne  0.556653 -0.786353

Ok this looks like it worked, let us calculate the dataset statistics again

In [14]:
df.describe().compute()

distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((subgraph_callable, (<function pandas_read_text at 0x7fd21eae7160>, <function _make_parser_function.<locals>.parser_f at 0x7fd224c3c310>, (<function read_block_from_file at 0x7fd21cac1940>, <OpenFile '/home/runner/work/dask-examples/dask-examples/dataframes/data/2000-01-07.csv'>, 0, 64000000, b'\n'), b'id,name,x,y\n', {}, {'id': dtype('int64'), 'name': dtype('O'), 'x': dtype('float64'), 'y': dtype('float64')}, ['id', 'name', 'x', 'y'], False, False, None), 'read-csv-e76d757d6ba11ed21c5bc1e3793ef945'))
kwargs:    {}
Exception: ValueError('Length mismatch: Expected axis has 3 elements, new values have 4 elements')

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

So what happened? 

When creating a dask dataframe from a collection of files, dd.read_csv samples the first few files in the dataset to determine the datatypes and columns available. Since it has not opened all the files it does not now if some of them are corrupt. Hence, `df.head()` works since it is only looking at the first file. `df.describe.compute()` fails because of the corrupt data in `data/2000-01-05.csv`

# Building a delayed reader

To get around this problem we are going to use a more advanced technique to build our dask dataframe. This method can also be used any time some custom logic is required when reading each file. Essentially, we are going to build a function that uses  pandas and some error checking and returns a pandas dataframe. If we find a bad data file we will either find a way to fix/clean the data or we will return and empty pandas dataframe with the same structure as the good data.

In [15]:
import numpy as np
import io

def read_data(filename):
    
    # for this to work we need to explicitly set the datatypes of our pandas dataframe 
    dtypes = {'id': int, 'name': str, 'x': float, 'y': float}
    try:
        # try reading in the data with pandas 
        df = pd.read_csv(filename, dtype=dtypes)
    except:
        # if this fails create an empty pandas dataframe with the same dtypes as the good data
        df = pd.read_csv(io.StringIO(''), names=dtypes.keys(), dtype=dtypes)
    
    # for the case with the missing column, add a column of data with NaN's
    if 'y' not in df.columns:
        df['y'] = np.NaN
        
    return df

Let's test this function on a good file and the two bad files

In [16]:
# test function on a normal file
read_data('data/2000-01-01.csv').head()

     id    name         x         y
0  1000   Wendy -0.455991 -0.267803
1   970  Ingrid -0.797437  0.454575
2  1008   Edith  0.430180 -0.506511
3   960   Wendy  0.803023  0.822974
4  1006  Yvonne  0.556653 -0.786353

In [17]:
# test function on the empty file
read_data('data/2000-01-05.csv').head()

Empty DataFrame
Columns: [id, name, x, y]
Index: []

In [18]:
# test function on the file missing the y column
read_data('data/2000-01-07.csv').head()

     id    name         x   y
0  1002   Edith  0.465230 NaN
1  1029   Laura -0.564898 NaN
2  1018  Victor  0.651367 NaN
3  1001  Hannah  0.332852 NaN
4   951   Edith -0.397864 NaN

# Assembling the dask dataframe

First we take our `read_data` function and convert it to a dask delayed function

In [19]:
from dask import delayed
read_data = delayed(read_data)

Let us look at what the function does now

In [20]:
df = read_data('data/2000-01-01.csv')
df

Delayed('read_data-0542ac1e-71d1-495a-a581-339d7b49b1e9')

It creates a delayed object, to actually run read the file we need to run `.compute()`

In [21]:
df.compute()

         id     name         x         y
0      1000    Wendy -0.455991 -0.267803
1       970   Ingrid -0.797437  0.454575
2      1008    Edith  0.430180 -0.506511
3       960    Wendy  0.803023  0.822974
4      1006   Yvonne  0.556653 -0.786353
...     ...      ...       ...       ...
86395   995   Ursula -0.600736 -0.522731
86396  1005   Ursula  0.619401  0.447979
86397  1013   Xavier -0.892085  0.310046
86398   961      Bob  0.135414 -0.981457
86399  1013  Michael  0.713817  0.040323

[86400 rows x 4 columns]

Now let's build a list of all the available csv files

In [22]:
# loop over all the files
from glob import glob
files = glob('data/2000-*-*.csv')
files

['data/2000-01-01.csv',
 'data/2000-01-12.csv',
 'data/2000-01-02.csv',
 'data/2000-01-25.csv',
 'data/2000-01-17.csv',
 'data/2000-01-03.csv',
 'data/2000-01-16.csv',
 'data/2000-01-24.csv',
 'data/2000-01-15.csv',
 'data/2000-01-07.csv',
 'data/2000-01-10.csv',
 'data/2000-01-20.csv',
 'data/2000-01-09.csv',
 'data/2000-01-06.csv',
 'data/2000-01-26.csv',
 'data/2000-01-21.csv',
 'data/2000-01-29.csv',
 'data/2000-01-19.csv',
 'data/2000-01-04.csv',
 'data/2000-01-22.csv',
 'data/2000-01-28.csv',
 'data/2000-01-27.csv',
 'data/2000-01-05.csv',
 'data/2000-01-13.csv',
 'data/2000-01-08.csv',
 'data/2000-01-30.csv',
 'data/2000-01-18.csv',
 'data/2000-01-11.csv',
 'data/2000-01-23.csv',
 'data/2000-01-14.csv']

Now we run the delayed read_data function on each file in the list

In [23]:
df = [read_data(file) for file in files]
df

[Delayed('read_data-9c80b785-b340-44e8-b3da-4f4a8e3bd6ad'),
 Delayed('read_data-6d833015-3f83-4470-9261-1959b2204c0a'),
 Delayed('read_data-7b0871b5-d5be-4191-abe2-7b1c0d03367d'),
 Delayed('read_data-93d2687b-db25-4227-98b9-28e7e3280def'),
 Delayed('read_data-011c2a76-8d73-48fd-849a-aeb78ac57ef5'),
 Delayed('read_data-376a321d-e6b9-48b8-8415-29facdb7092a'),
 Delayed('read_data-8e5e3f0b-4829-4d0c-970e-5f7b6772e1d2'),
 Delayed('read_data-ddd3b444-9418-4a56-ae15-55921a9745eb'),
 Delayed('read_data-a4c25013-c367-4e95-81ca-c7021c66ab44'),
 Delayed('read_data-3fd04b2b-6d09-4abf-b6ce-a91e668c1505'),
 Delayed('read_data-a63f0372-fe6e-4d4a-9bf6-a0cfb16181a1'),
 Delayed('read_data-e54a0ca4-baa2-4fe6-9689-4f2683928d6a'),
 Delayed('read_data-0933c9cb-69d8-4ca1-9efb-6b8487321c1a'),
 Delayed('read_data-f4859e3c-db7f-436d-8f26-5574db792b15'),
 Delayed('read_data-388b01f1-f0fa-470c-8580-92ff96c74a89'),
 Delayed('read_data-0af06681-b50e-4ba3-954d-d76a65fec5a5'),
 Delayed('read_data-19cfa288-a39b-4220-9973-69aef2b329ad'),
 Delayed('read_data-84f01c6e-e17b-474d-b921-ebc65640d34e'),
 Delayed('read_data-60240aa4-750c-4ff5-a21e-029cc2a48b96'),
 Delayed('read_data-bcf57577-67a9-4c7b-95c7-a114043c473f'),
 Delayed('read_data-717fc7a4-ec64-4111-b9be-fdd0d91bfdd3'),
 Delayed('read_data-73994c6a-f701-4c32-a576-8d8ecc0489c9'),
 Delayed('read_data-510d62c2-6daa-4864-8f65-24d585f3415d'),
 Delayed('read_data-ce8777ca-9569-4ca0-9499-54d61dd33978'),
 Delayed('read_data-005a18a9-842f-477d-9b30-f7edf8927778'),
 Delayed('read_data-f426e6f8-39e4-45bd-87eb-0fe5e64f1909'),
 Delayed('read_data-fb4f320c-ff2d-459d-8747-15b88b744330'),
 Delayed('read_data-f5cbf3f0-b50c-4f7b-aafd-854a3c7faf00'),
 Delayed('read_data-a467c638-682d-476d-b280-3e145400b94b'),
 Delayed('read_data-7fd07581-8f13-49e2-8585-36316f73fb70')]

Then we use [dask.dataframe.from_delayed](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.from_delayed). This function creates a Dask DataFrame from a list of delayed objects as long as each delayed object returns a pandas dataframe. The structure of each individual dataframe returned must also be the same.

In [24]:
df = dd.from_delayed(df, meta={'id': int, 'name': str, 'x': float, 'y': float})
df

Dask DataFrame Structure:
                   id    name        x        y
npartitions=30
                int64  object  float64  float64
                  ...     ...      ...      ...
...               ...     ...      ...      ...
                  ...     ...      ...      ...
                  ...     ...      ...      ...
Dask Name: from-delayed, 60 tasks

Note: we provided the dtypes in the `meta` keyword to explicitly tell Dask Dataframe what kind of dataframe to expect. If we did not do this Dask would infer this from the first delayed object which could be slow if it was a large csv file

## Now let's see if this works

In [25]:
df.head()

     id    name         x         y
0  1000   Wendy -0.455991 -0.267803
1   970  Ingrid -0.797437  0.454575
2  1008   Edith  0.430180 -0.506511
3   960   Wendy  0.803023  0.822974
4  1006  Yvonne  0.556653 -0.786353

In [26]:
df.describe().compute()

/usr/share/miniconda3/envs/dask-examples/lib/python3.8/site-packages/dask/array/numpy_compat.py:40: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

                 id             x             y
count  2.505600e+06  2.505600e+06  2.419200e+06
mean   9.999775e+02  6.427909e-04  2.713981e-04
std    3.162853e+01  5.774183e-01  5.772543e-01
min    8.470000e+02 -9.999991e-01 -9.999996e-01
25%    9.790000e+02 -4.950141e-01 -4.961357e-01
50%    1.000000e+03  7.317552e-03  5.409636e-03
75%    1.021000e+03  5.055906e-01  5.079348e-01
max    1.171000e+03  9.999976e-01  9.999998e-01

## Success!

To recap, in this example, we looked at an approach to create a Dask Dataframe from a collection of many data files. Typically you would use built-in functions like `dd.read_csv` or `dd.read_parquet` to do this. Sometimes, this is not possible because of messy/corrupted files in your dataset or some custom processing that might need to be done. 

In these cases, you can build a Dask DataFrame with the following steps.

1. Create a regular python function that reads the data, performs any transformations, error checking etc and always returns a  Pandas dataframe with the same structure
2. Convert this read function to a delayed object using the `dask.delayed` function
3. Call each file in your dataset with the delayed data reader and assemble the output as a list of delayed objects
4. Used `dd.from_delayed` to covert the list of delayed objects to a Dask Dataframe 

This same technique can be used in other situations as well. Another example might be data files that require using a specialized reader, or several transformations before they can be converted to a pandas dataframe.